<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ORDER-CREATE-FLOW" class="com.alibaba.matrix.flow.Flow">
        <constructor-arg name="name" value="ORDER-CREATE"/>
        <constructor-arg name="tasks">
            <util:list>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.create.OrderCreateTask3"/>
            </util:list>
        </constructor-arg>
    </bean>

    <bean id="TEST-FLOW" class="com.alibaba.matrix.flow.Flow">
        <constructor-arg name="name" value="ORDER-CREATE"/>
        <constructor-arg name="tasks">
            <util:list>
                <bean class="com.alibaba.matrix.flow.test.task.test.TestTask1"/>
                <bean class="com.alibaba.matrix.flow.test.task.test.TestTask2"/>
                <bean class="com.alibaba.matrix.flow.test.task.test.TestTask3"/>
            </util:list>
        </constructor-arg>
    </bean>

</beans>